---
http_interactions:
- request:
    method: get
    uri: https://sandbox.synapsepay.com/api/3/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Sp-Gateway:
      - e3f19e4bd4022c86e7f2|11c94ba6bad74d24a0158bc707f0fc19a86dc08f
      X-Sp-User:
      - "|e716990e50b67a1177736960b6357524b22090ccab093d068b3d7a18dbde3f4c"
      X-Sp-User-Ip:
      - 107.170.246.225
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code": "0", "http_code": "200", "page": 1, "page_count": 288,
        "success": true, "users": [{"_id": "55c0ad4b86c2734e0e866da8", "_links": {"self":
        {"href": "https://sandbox.synapsepay.com/api/3/users/55c0ad4b86c2734e0e866da8"}},
        "client": {"id": 844, "name": "SynapsePay*Sandbox"}, "doc_status": {"physical_doc":
        "SUBMITTED|VALID", "virtual_doc": "SUBMITTED|VALID"}, "documents": [], "extra":
        {"cip_tag": 1, "date_joined": 1438690635321, "extra_security": true, "is_business":
        true, "supp_id": "122eddfgbeafrfvbbb"}, "is_hidden": false, "legal_names":
        ["Bryan Keltner", "Test1 CO"], "logins": [{"email": "test1@synapsepay.com",
        "scope": "READ_AND_WRITE"}], "permission": "UNVERIFIED", "phone_numbers":
        ["218545332321"], "photos": [], "refresh_token": "7a3YqKhd9RdRIl5fVjmGJidtLW1RhYGsNZFntZwV"},
        {"_id": "55c0adc786c2734e0e866daa", "_links": {"self": {"href": "https://sandbox.synapsepay.com/api/3/users/55c0adc786c2734e0e866daa"}},
        "client": {"id": 844, "name": "SynapsePay*Sandbox"}, "doc_status": {"physical_doc":
        "SUBMITTED|VALID", "virtual_doc": "SUBMITTED|VALID"}, "documents": [], "extra":
        {"cip_tag": 1, "date_joined": 1438690759718, "extra_security": true, "is_business":
        true, "supp_id": "122eddfgbea[...]
