---
http_interactions:
- request:
    method: get
    uri: https://sandbox.synapsepay.com/api/3/users/xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Sp-Gateway:
      - e3f19e4bd4022c86e7f2|11c94ba6bad74d24a0158bc707f0fc19a86dc08f
      X-Sp-User:
      - "|e716990e50b67a1177736960b6357524b22090ccab093d068b3d7a18dbde3f4c"
      X-Sp-User-Ip:
      - 107.170.246.225
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"en": "user does not exist"}, "error_code": "404", "http_code":
        "404", "success": false}'
  recorded_at: Tue, 12 Jul 2016 23:11:40 GMT
recorded_with: VCR 3.0.3
